.layout {
    display: grid;
    grid-template-columns: calc(50% - 5px) 10px calc(50% - 5px);
    margin: 20px;
    
}
.layout>div{
    overflow-x: hidden;
}

.formUrl {
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    height: 51px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(218, 218, 218);
}
pre {
    outline: 1px solid #ccc; padding: 5px; margin: 5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.string { color: rgb(107, 107, 107); }
.number { color: rgb(32, 192, 17); }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.message-main {
    position: absolute;
    bottom: 50px;
    right: -250px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    font-size: 16px;
    width: 250px;
    border-left: 3px solid rgb(0, 255, 21);
    color: rgb(73, 73, 73);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.dark .string { color: rgb(218, 218, 218); }
.dark .number { color: rgb(32, 192, 17); }
.dark .boolean { color: blue; }
.dark .null { color: magenta; }
.dark .key { color: rgb(238, 60, 60); }

.right_part{
    padding: 0px 20px 20px 50px;
    overflow: hidden;
}
textarea {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
}
.btn_zoom, .btn_zoom2, .formUrl button{
    cursor: pointer;
}
#url_text {
    color: rgb(146, 146, 146);
}

.text-white{
    color: white !important;
}
.text-black{
    color: rgb(36, 36, 36) !important;
}

.box {
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    background: rgb(240, 240, 240);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}

.box p{
    margin: 0px;
    min-width: 115px;
}
.active_select {
    background-color: yellow;
    border: 1px solid rgb(255, 209, 109);
}
.btn_box_close{
    position: absolute;
    background: rgba(228, 228, 228, 0.747) !important;
    right: -10px;
    top: -10px;
}

#m_check{
    color: #ccc !important;
}

.ui.mini.images .ui.image.circular{
    margin: 0px 2px;
    padding: 0px;
}

/* Dark */
body.dark {
    background-color: rgb(27, 27, 27);
    color: white;
}
.dark .btn_box_close {
    background: rgb(26, 0, 0) !important; 
    color: rgb(209, 60, 60) !important;
}
.dark pre, .dark .formUrl, .dark #url_text, .dark textarea {
    background: rgb(63, 63, 63) !important;
    color: white !important;
}
.dark .btn_zoom, .dark .btn_zoom2 {
    background: rgb(51, 51, 51) !important;
    color: rgb(201, 201, 201) !important;
}
.dark pre {
    outline: 1px solid rgb(26, 26, 26);
}
.dark .formUrl {
    border: 1px solid rgb(26, 26, 26);
}
.dark h3, .dark h4, .dark label {
    color: white !important;
}
.dark .box {
    border: 1px solid rgb(22, 22, 22);
    background: rgb(46, 46, 46);
}
.dark .active_select {
    border: 1px solid rgb(22, 22, 22);
    background: rgb(161, 134, 12);
}

/* Light */
.light h3, .light h4,  .light label {
    color: rgb(48, 48, 48) !important;
}
body {
    background: #f6f6f6;
}