
.layout {
    display: grid;
    grid-template-columns: calc(50% - 5px) 10px calc(50% - 5px);
    margin: 20px;
    
}
.layout>div{
    overflow-x: hidden;
}

.formUrl {
    margin-top: 22px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(244 244 244);
    border: none;
}

.icon_mini {
    font-size: 10px;
}
.mini_menu i {
    cursor: pointer;
}
.mini_menu {
    position: absolute;
    top: 0;
    right: -30px;
    width: 25px;
    padding: 3px 4px;
    background: #f1f1f1;
    border-radius: 4px;
    z-index: 1;
}
pre {
    outline: 1px solid #e0e0ff;
    padding: 5px; margin: 5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.string { color: rgb(107, 107, 107); }
.number { color: rgb(32, 192, 17); }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.message-main {
    position: absolute;
    bottom: 50px;
    right: -250px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    font-size: 16px;
    width: 250px;
    border-left: 3px solid rgb(0, 255, 21);
    color: rgb(73, 73, 73);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.dark .string { color: rgb(218, 218, 218); }
.dark .number { color: rgb(32, 192, 17); }
.dark .boolean { color: blue; }
.dark .null { color: magenta; }
.dark .key { color: rgb(238, 60, 60); }

.right_part{
    padding: 0px 20px 20px 50px;
    overflow: hidden;
}
textarea {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
}
.btn_zoom, .btn_zoom2, .formUrl button{
    cursor: pointer;
}
#url_text {
    color: rgb(146, 146, 146);
}

.text-white{
    color: white !important;
}
.text-black{
    color: rgb(36, 36, 36) !important;
}
/* width */
/* width */
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}
.box {
    border-radius: 5px;
    /*border: 1px solid rgba(212, 212, 212, 0);*/
    background: #f5f5f5;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    height: 65px;
}
.btn_box_close .item i {
    margin-right: 5px !important;
    margin-left: 3px !important;
}
.btn_box small {
    color: #797979 !important;
}

.box p{
    margin: 0;
    min-width: 115px;
    font-family: 'Inter','Nokora', sans-serif;
}
.active_select {
    /*background-color: #dfe8ff !important;*/
    border-left: 5px solid rgb(123, 180, 255);
}
.btn_box_close{
    position: absolute !important;
    right: 0px;
    top: 4px;
}
#save_data_rec .box:first-child{
    margin-left: 0px;
}

.btn_box_close .menu .item, .btn_box_close .menu i{
    font-size: 11px !important;
}
#m_check{
    color: #ccc !important;
}

.ui.mini.images .ui.image.circular{
    margin: 0px 2px;
    padding: 0px;
}


.mini_btn {
    padding: 0 6px;
    border-radius: 3px;
    cursor: pointer;
    color: #797979;
}
.mini_btn:hover {
    background-color: #d4d4f5;
    color: #2662e3;
}






/* Dark */
body.dark {
    background-color: rgb(27, 27, 27);
    color: white;
}
.dark .btn_box_close {
    background: rgb(26, 0, 0) !important; 
    color: rgb(209, 60, 60) !important;
}
.dark pre, .dark .formUrl, .dark #url_text, .dark textarea {
    background: rgb(63, 63, 63) !important;
    color: white !important;
}
.dark .btn_zoom, .dark .btn_zoom2 {
    background: rgb(51, 51, 51) !important;
    color: rgb(201, 201, 201) !important;
}
.dark pre {
    outline: 1px solid rgb(26, 26, 26);
}
.dark .formUrl {
    border: 1px solid rgb(26, 26, 26);
}
.dark h3, .dark h4, .dark label {
    color: white !important;
}
.dark .box {
    border: 1px solid rgb(22, 22, 22);
    background: rgb(46, 46, 46);
}
.dark .active_select {
    border: 1px solid rgb(22, 22, 22);
    background: rgb(161, 134, 12);
}

/* Light */
.light h3, .light h4,  .light label {
    color: rgb(48, 48, 48) !important;
}
body {
    background: rgb(247 249 255);
}

#code_pre, #code_pre2 {
  min-height: 300px;
}

.my_container {
    margin: 20px;
}