
body.dark2 {
    background: var(--b-m-white) !important;
}
/* navbar */
.dark2 .my_navbar {
    background: var(--b-white) !important;
}
.dark2 .bg_color_light {
    background: var(--b-white);
}
.dark2 .txt_color {
    color: var(--b-black);
}
.dark2 .body, .dark2 #right_part,.dark2 #text_compare .box {
    background: var(--b-white) !important;
}


.dark2 .btn_color {
    background-color: var(--light-black);
    color: orange !important;
}

.dark2 .btn_color i {
    color: orange !important;
}

.dark2 .btn_color:hover {
    background-color: var(--b-mm-black);
}

.dark2 .btn_color_light {
    background-color: var(--light-black);
    color: orange;
}

.dark2 .btn_color_light:hover {
    background-color: var(--b-mm-black);
}

.dark2 input, .dark2 textarea{
    background: var(--light-black) !important;
    color: white !important;
    border: var(--b-border) !important;
}

.dark2 .text_fixed_color {
    color: var(--b-mmm-black) !important;
}
.CodeMirror-dialog.CodeMirror-dialog-top {
    background: white;

}

.dark2 .CodeMirror{
    border: var(--b-border) !important;
    border-radius: 7px;
    background: var(--light-black) !important;
}


.dark2 .CodeMirror-gutters, .dark2 .CodeMirror-gutter {
    background: none !important;
    border: none;
}


/* Change the focus color for Semantic UI input fields */
.dark2 input:focus,
.dark2 textarea:focus,
.dark2 .ui.selection.active.dropdown,
.dark2 .ui.selection.active.dropdown .menu {
    border-color: orange !important; /* Change to your desired border color */
    box-shadow: none !important
}

.dark2 label {
    color: #c0c0c0 !important;
}


.dark2 i {
    color: orange;
}
.dark2 .CodeMirror-merge-l-chunk {
    background: #ffffff10 !important;
    border: none;
}