.layout {
    display: flex;
    /*grid-template-columns: calc(50% - 5px) 10px calc(50% - 5px);*/
    /*margin: 20px;*/
    padding-top: 42px;
}
.layout>div{
    overflow-x: hidden;
}
#left_part {
    min-width: 295px;
    width: 100%;
}
.left_part {
    border-radius: 10px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    width: calc(100% - 35px);
}
#left_part .ui-resizable-e:after {
    position: absolute;
    content: "||";
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    color: var(--gray);
}
#left_part .ui-resizable-e {
    cursor: e-resize;
    width: 15px;
    right: 0;
    top: 5%;
    height: 90%;
    color: white;
    border-radius: 10px;
}

.save1 pre {
    height: calc(100vh - 300px);
    overflow: auto;
}


.right_part {
    border-radius: 10px;
    display: none;
    padding: 20px;
    margin: 20px 20px 0 0;
    min-width: 295px;
    background: var(--white);
}
@media only screen and (min-width: 1025px) {
    .right_part {
        display: block;
        width: 40%;
    }

    #left_part {
        width: 60%;
    }
}


.right_part .formUrl {
    margin-top: 22px;
}

.formUrl {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(244 244 244);
    border: none;
}

#url_result {
    height: calc(100vh - 300px);
    overflow: auto;
}

.floated_bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.btn_zoom, .btn_zoom2, .formUrl button{
    cursor: pointer;
}

.theme-blue .active_select {
    border-left: 5px solid var(--blue);
}
.theme-teal .active_select {
    border-left: 5px solid var(--teal);
}
.theme-green .active_select {
    border-left: 5px solid var(--green);
}
.theme-red .active_select {
    border-left: 5px solid var(--red);
}
.layout pre,
.ui-widget-content pre {
    outline: 1px solid rgba(34,36,38,.15);
}
.ui-widget-content pre {
    background-color: var(--white);
}
/* .theme-light.theme-blue .layout pre {
    outline: 1px solid var(--light-blue2);
}
.theme-light.theme-teal .layout pre {
    outline: 1px solid var(--light-teal2);
}
.theme-light.theme-green .layout pre {
    outline: 1px solid var(--light-green2);
}
.theme-light.theme-red .layout pre {
    outline: 1px solid var(--light-red2);
} */


.theme-light.theme-blue .layout pre:focus,
.ui-widget-content pre:focus {
    outline: 1px solid var(--light-blue);
}
.theme-light.theme-teal .layout pre:focus,
.ui-widget-content pre:focus {
    outline: 1px solid var(--light-teal);
}
.theme-light.theme-green .layout pre:focus,
.ui-widget-content pre:focus {
    outline: 1px solid var(--light-green);
}
.theme-light.theme-red .layout pre:focus,
.ui-widget-content pre:focus {
    outline: 1px solid var(--light-red);
}

.cus_btn {
    background: none !important;
    color: white !important;
}