.layout {
    display: flex;
    /*grid-template-columns: calc(50% - 5px) 10px calc(50% - 5px);*/
    /*margin: 20px;*/
    padding-top: 42px;
}
.layout>div{
    overflow-x: hidden;
}
#left_part {
    min-width: 295px;
    width: 100%;
}
.left_part {
    border-radius: 10px;
    padding: 20px;
    margin: 20px 20px 0 20px;
    width: calc(100% - 35px);
}
#left_part .ui-resizable-e:after {
    position: absolute;
    content: "||";
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    color: var(--gray);
}
#left_part .ui-resizable-e {
    cursor: e-resize;
    width: 15px;
    right: 0;
    top: 5%;
    height: 90%;
    color: white;
    border-radius: 10px;
}

/* .save1 pre {
    height: calc(100vh - 300px);
    overflow: auto;
} */


.right_part {
    border-radius: 10px;
    display: none;
    padding: 20px;
    margin: 20px 20px 0 0;
    min-width: 295px;
    background: var(--white);
}
@media only screen and (min-width: 1025px) {
    .right_part {
        display: block;
        width: 40%;
    }

    #left_part {
        width: 60%;
    }
}


.right_part .formUrl {
    margin-top: 22px;
}

.formUrl {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(244 244 244);
    border: none;
}

#url_result {
    height: calc(100vh - 300px);
    overflow: auto;
}

.floated_bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.btn_zoom, .btn_zoom2, .formUrl button{
    cursor: pointer;
}

.theme-blue .active_select {
    border-left: 5px solid var(--blue);
}
.theme-teal .active_select {
    border-left: 5px solid var(--teal);
}
.theme-green .active_select {
    border-left: 5px solid var(--green);
}
.theme-red .active_select {
    border-left: 5px solid var(--red);
}

.ui-widget-content pre {
    background-color: var(--white);
}

.layout .CodeMirror.cm-s-material {
    border-radius: 5px;
    padding-top: 10px;
    border: 1px solid rgba(34,36,38,.15);
}
.theme-light.theme-blue .layout .CodeMirror-focused {
    border: 1px solid var(--light-blue) !important;
}
.theme-light.theme-teal .layout .CodeMirror-focused {
    border: 1px solid var(--light-teal) !important;
}
.theme-light.theme-green .layout .CodeMirror-focused {
    border: 1px solid var(--light-green) !important;
}
.theme-light.theme-red .layout .CodeMirror-focused {
    border: 1px solid var(--light-red) !important;
}

.cus_btn {
    background: none !important;
    color: white !important;
}


#layout .CodeMirror, #table-container2, #table-container{
    height: calc(100vh - 300px)
}

.box {
    border-radius: 5px;
    /*border: 1px solid rgba(212, 212, 212, 0);*/
    background: #f5f5f5;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    height: 65px;
}
.btn_box_close .item i {
    margin-right: 5px !important;
    margin-left: 3px !important;
}
.btn_box small {
    color: #797979 !important;
}
.btn_box {
    padding: 10px;
}
.box p{
    margin: 0;
    min-width: 115px;
    font-family: 'Inter','Nokora', sans-serif;
}
.btn_box_close{
    position: absolute !important;
    right: 0px;
    top: 4px;
}
.btn_box_close .menu .item, .btn_box_close .menu i{
    font-size: 11px !important;
}

.book_mark_contain {
    position: absolute;
    right: 18px;
    top: 2px
}
