<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../../library/semantic/semantic.min.css">
    <link rel="stylesheet" href="../../library/jquery-ui.css">
    <link rel="stylesheet" href="../../library/codemirror/codemirror.css">
    <link rel="stylesheet" href="../../library/codemirror/material-theme.css">
    <link rel="stylesheet" href="../../library/codemirror/merge.css">
    <link rel="stylesheet" href="../../library/codemirror/neat-theme.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../library/toastr.css">
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/theme-color-blue.css">
    <link rel="stylesheet" href="../../css/theme-color-teal.css">
    <link rel="stylesheet" href="../../css/theme-color-green.css">
    <link rel="stylesheet" href="../../css/theme-color-red.css">
    <link rel="stylesheet" href="txt.css">

    <script src="../../library/jquery.js"></script>
    <script src="../../library/jquery-ui.js"></script>
    <script src="../../library/moment.js"></script>
    <script src="../../library/semantic/semantic.min.js"></script>
    <script src="../../library/toastr.js"></script>
    <script src="../../library/codemirror/codemirror.js"></script>
    <script src="../../library/codemirror/xml.js"></script>
    <script src="../../library/codemirror/codemirrorjs.js"></script>
    <script src="../../library/codemirror/codemirror-mod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/sql/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="../../library/codemirror/htmlmix.js"></script>
    <script src="../../library/codemirror/diff.js"></script>
    <script src="../../library/codemirror/merge.js"></script>
    <!-- CodeMirror Search Add-ons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/search/searchcursor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/search/search.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/dialog/dialog.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/search/jump-to-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/search/matchesonscrollbar.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/dialog/dialog.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/search/matchesonscrollbar.min.css">

    <script src="../../util/util.js"></script>
</head>
<body>
    <div class="box">
        <h3>Text Compare</h3>
        <div class="setting_me">
            <div>
                <div class="ui form mini">
                    <select class="ui dropdown" id="langauge_com">
                        <option value="text">Text</option>
                        <option value="htmlmixed">HTML</option>
                        <option value="text/css">CSS</option>
                        <option value="javascript">JavaScript</option>
                        <option value="text/x-java">Java</option>
                        <option value="text/x-python">Python</option>
                        <option value="text/x-sql">SQL</option>
                        
                    </select>
                    <label for="" class="pl_20 text_color" id="diff_info">Diff count : 0</label>
                    <label for="" class="pl_20 text_color" id="diff_red">Red : 0</label>
                    <label for="" class="pl_20 text_color" id="diff_blue">Green : 0</label>
                </div>
                
            </div>
            <div class="text-center center_buttons">
                <div data-tooltip="Copy all to the right" data-inverted="" id="btn_copy_2_right">
                    <i class="arrow alternate circle right icon"></i>
                </div>
                <div data-tooltip="Swap" data-inverted="" id="btn_swap">
                    <i  class="exchange icon"></i>
                </div>
                <div  data-tooltip="Copy all to the left" data-inverted="" id="btn_copy_2_left">
                    <i class="arrow alternate circle left icon"></i>
                </div>
            </div>
            <div></div>
        </div>
        <div id="editor"></div>
    </div>

    <script src="txt.js"></script>
</body>
</html>