body {
    padding: 17px 17px 5px 17px;
}

.CodeMirror.cm-s-material, .CodeMirror-merge-gap {
    height: calc(100vh - 135px);
    border-radius: 5px;
    padding-top: 10px;
    border: 1px solid rgba(34,36,38,.15);
}

.theme-light.theme-blue .CodeMirror-focused {
    border: 1px solid var(--light-blue) !important;
}
.theme-light.theme-teal .CodeMirror-focused {
    border: 1px solid var(--light-teal) !important;
}
.theme-light.theme-green .CodeMirror-focused {
    border: 1px solid var(--light-green) !important;
}
.theme-light.theme-red .CodeMirror-focused {
    border: 1px solid var(--light-red) !important;
}

.CodeMirror-merge{
    border: none !important;
}

.CodeMirror-merge-gap {
    border: none !important;
    background: none;
}

.CodeMirror-merge-2pane .CodeMirror-merge-gap {
    width: 50px;
}

.CodeMirror-merge-2pane .CodeMirror-merge-pane {
    width: calc(50% - 25px)
}

.box{
    padding: 20px;
    background: white;
    height: 100%;
    border-radius: 10px;
}

.setting_me {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin-bottom: 5px;
}

.center_buttons {
    display: flex;
    justify-self: center;
    align-self: flex-end;
}
.center_buttons div {
    margin: 0 10px;
    cursor: pointer;
}

.cm-s-material .cm-qualifier {
    color: rgb(0, 0, 0);
}
.cm-s-material .cm-variable-2 {
    color: red;
}
.cm-s-material .cm-keyword{
    color: #8524c5;
}