<div id="layout2">
    <div id="left_part">
        <div class="body">
            <h3 class="text_fixed_color">HTML to JavaScript</h3>
            <form class="ui form small">
                <div class="field">
                    <label class="text_fixed_color">Variable Name</label>
                    <div class="ui left labeled input icon">
                        <div class="ui compact selection dropdown label btn_color" id="vari_type">
                            <div class="text" id="type_vari">var</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item">var</div>
                                <div class="item">let</div>
                            </div>
                        </div>
                        <input class="input_have_clear" type="text" placeholder="variable name" id="vari_nm">
                        <i class="close link icon btn_clear_its_input" style="display: none;"></i>
                    </div>
                </div>

                <div class="field">
                    <div style="display: flex; justify-content: space-between;  margin-bottom: 5px">
                        <label class="text_fixed_color">Past HTML here</label> 
                        <div>
                            <button type="button" class="ui button btn_color_light tiny" id="btn_html2js_paste">Paste</button>
                            <button type="button" class="ui button btn_color_light tiny" id="btn_html2js_format">Format</button>
                        </div>
                    </div>
                    <textarea rows="3" id="raw_html"></textarea>
                </div>

            </form>
        </div>
    </div>
    <div id="right_part">
        <div class="ui form small">
            <div class="field">
                <div style="display: flex; justify-content: space-between; margin-bottom: 5px">
                    <label>Result
                        <div class="ui icon top left pointing dropdown">
                            <i class="cog icon"></i>
                            <div class="menu" id="setting_box">
                                <div class="header">Settings</div>
                                <div class="item">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="is_show_vari">
                                        <label>Show Variable Declaration</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="is_double_q">
                                        <label>Used double quotes "</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="is_double_d">
                                        <label>Used `</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="is_remove_whitespace">
                                        <label>Remove whiteSpace</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="is_remove_line">
                                        <label>Remove empty line</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="is_remove_cmd">
                                        <label>Remove comment</label>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </label>
                    <button type="button" class="ui button btn_color_light tiny" id="btn_html2js_copy">Copy</button>
                </div>
                <textarea rows="25" id="result_html"></textarea>
            </div>
        </div>
    </div>
</div>