<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="image/favicon.ico">

    <link rel="stylesheet" href="../../library/semantic/semantic.min.css">
    <link rel="stylesheet" href="../../library/jquery/jquery-ui.css">
    <link rel="stylesheet" href="../../library/codemirror/css/codemirror.css">
    <link rel="stylesheet" href="../../library/codemirror/css/material-theme.css">
    <link rel="stylesheet" href="../../library/codemirror/css/neat-theme.css">
    <link rel="stylesheet" href="../../library/codemirror/css/ocean.css">
    <link rel="stylesheet" href="../../library/codemirror/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../library/toastr.css">
    <link rel="stylesheet" href="../../css/theme.css">
    <link rel="stylesheet" href="../../css/theme-color-blue.css">
    <link rel="stylesheet" href="../../css/theme-color-teal.css">
    <link rel="stylesheet" href="../../css/theme-color-green.css">
    <link rel="stylesheet" href="../../css/theme-color-red.css">
    <link rel="stylesheet" href="../../css/theme-dark1.css">
    <link rel="stylesheet" href="../../css/theme-dark2.css">
    <link rel="stylesheet" href="../../css/theme-dark3.css">
    <link rel="stylesheet" href="../../css/theme-dark4.css">
    <link rel="stylesheet" href="../../css/theme-light1.css">

    <link rel="stylesheet" href="../../components/decode/decode.css">

    <script src="../../library/xlsx.js"></script>
    <script src="../../library/jquery/jquery.js"></script>
    <script src="../../library/jquery/jquery-ui.js"></script>

    <script src="../../library/moment.js"></script>
    <script src="../../library/semantic/semantic.min.js"></script>
    <script src="../../library/toastr.js"></script>
    <script src="../../library/codemirror/js/codemirror.js"></script>

    <!-- addon -->
    <script src="../../library/codemirror/addon/fold/fold-core.js"></script>
    <script src="../../library/codemirror/addon/fold/foldgutter.js"></script>
    <script src="../../library/codemirror/addon/fold/brace-fold.js"></script>
    <script src="../../library/codemirror/addon/fold/xml-fold.js"></script>
    <script src="../../library/codemirror/addon/fold/indent-fold.js"></script>
    <script src="../../library/codemirror/addon/fold/markdown-fold.js"></script>
    <script src="../../library/codemirror/addon/fold/comment-fold.js"></script>

    <script src="../../library/codemirror/js/xml.js"></script>
    <script src="../../library/codemirror/js/codemirrorjs.js"></script>
    <script src="../../library/codemirror/js/codemirror-mod.js"></script>
    <script src="../../library/html-beauti.js"></script>



    <style id="headerStyle_cust"></style>
    <style id="font_size_cust"></style>
</head>
<body>
    <h2>Hello</h2>
     <!-- ========================================== Script ========================================== -->
 <script src="util/static.js"></script>
 <script src="util/popUp.js"></script>
 <script src="data/dataStorage.js"></script>
 <script src="util/util.js"></script>
 <script src="util/navigat.js"></script>

 <!-- components -->
 <script src="components/nav_bar/nav_bar.js"></script>
 <script src="components/decode/util.js"></script>
 <script src="components/decode/decode.js"></script>
 <script src="components/decode/localDataManage.js"></script>

 <script src="main.js"></script>
</body>
</html>