<div class="ui form" style="padding: 60px 30px 0 30px;">
    <div class="ui form">
        <div class="fields columns two">
            <!-- <div class="field">
          <label>Include Variable Name</label>
          <input type="text" placeholder="Include" id="include_txt" >
        </div> -->
            <div class="field">
                <label>Project
                    <i class="plus icon" style="color: #2662e3; margin-left: 5px"
                        id="new_project_button"></i>
                    <i class="trash alternate outline red icon disabled" id="btn_delete_project"></i>
                    <i id="btn_export_data"
                        style="background: #dae6ff; border-radius: 10px; padding: 0 5px; cursor: pointer; color: #797979;margin-left: 5px">Copy
                        export data</i>
                    <i id="btn_import_data"
                        style="background: #dae6ff; border-radius: 10px; padding: 0 5px; cursor: pointer; color: #797979; margin-left: 5px">Import
                        data</i>
                </label>
                <div class="ui selection dropdown" id="project_drop">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Please create new project</div>
                    <div class="menu">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Exclude variable</label>
                <input spellcheck="false" type="text" placeholder="Exclude" id="exclude_txt" value="">

            </div>

            <div class="field">
                <label style="height: 20px"></label>
                <button class="ui button btn_color" id="btn_save_ex">Save</button>
            </div>
        </div>
    </div>
    <label style="font-size: 12px">Replace All <i class="plus icon"
            style="color: #2662e3; margin-left: 5px" id="replace_management_button"></i></label>
    <div class="ui form mini" id="check_con" style="margin-bottom: 20px; margin-top: 5px">

    </div>

    <div class="fields column two">
        <div class="field custom_hegith">
            <textarea spellcheck="false" rows="50" id="code_pre"></textarea>
            <!--                        <pre id="code_pre" spellcheck="false" contenteditable="true" style="margin: 0"></pre>-->
        </div>
        <div class="field custom_hegith">
            <textarea spellcheck="false" rows="50" id="code_pre2"></textarea>
            <!--                        <pre id="code_pre2" spellcheck="false" contenteditable="true" style="margin: 0"></pre>-->
        </div>
    </div>
</div>

<!--            Modal for new project   -->
<div class="ui modal mini" id="new_project_modal">
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Project Name</label>
                <input type="text" placeholder="Project Name" id="new_project_name">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button btn_color" id="btn_save_new_project">Save</div>
    </div>
</div>
<!--            Modal for new project   -->
<div class="ui modal mini" id="import_data_modal">
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Export Data</label>
                <input type="text" placeholder="Please paste export data here" id="import_data_input">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button btn_color" id="btn_save_import_data">Save</div>
    </div>
</div>
<!--  Replace management   -->
<div class="coupled ui modal small" id="replace_management_modal">
    <div class="header">
        CARDRPT
    </div>
    <div class="scrolling content">
        <div class="ui form">
            <div class="field">
                <!--                            <label>Replacement</label>-->
                <div style="display: grid; grid-template-columns: auto 10px auto 70px 130px">
                    <input type="text" placeholder="From" id="from_txt">
                    <div></div>
                    <input type="text" placeholder="To" id="to_txt">
                    <button class="button ui small btn_color" style="margin-left: 5px"
                        id="save_new_replace_btn">Add</button>
                    <button class="button ui small" style="margin-left: 5px"
                        id="show_other_replace">From Others</button>
                </div>

            </div>
        </div>
        <h4></h4>
        <table class="ui single line table" id="replace_table">
            <thead>
                <tr>
                    <th style="width: 30px">No</th>
                    <th>From</th>
                    <th>To</th>
                    <th style="width: 30px"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!--                <div class="actions">-->
    <!--                    <div class="ui approve button">Save</div>-->
    <!--                </div>-->
</div>

<!--  Replace from other project   -->
<div class="coupled ui modal tiny" id="loard_other_replace">
    <div class="content">

    </div>
    <div class="actions">
        <button class="mini ui approve button">Done</button>
    </div>
</div>